name: "Build"

on:
  workflow_call:
    inputs:
      path:
        description: "Relative path within the repo to build"
        default: "."
        required: false
        type: string
      tag:
        description: "Custom tag for the built image"
        required: false
        type: string

permissions:
  contents: read
  packages: write

env:
  tag: "${{ inputs.tag || github.repository }}"

jobs:
  Build:
    strategy:
      matrix:
        runner: [ "ubuntu-latest", "ubuntu-latest-arm" ]
    name: "Docker"
    runs-on: ${{ matrix.runner }}
    steps:
      - name: "Checkout ${{ env.tag }}"
        uses: "actions/checkout@v4"
      - name: "Setup Docker"
        uses: "docker/setup-buildx-action@v3"
      - name: "Login to container registry"
        uses: "docker/login-action@v3"
        with:
          registry: "ghcr.io"
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: "Build and push container"
        id: "build"
        uses: "docker/build-push-action@v6"
        with:
          context: ${{ inputs.path }}
          push: true
          tags: "ghcr.io/${{ env.tag }}"
          cache-from: "type=gha"
          cache-to: "type=gha,mode=max"
          outputs: "type=image,push-by-digest=true,name-canonical=true,push=true"
      - name: "Create digest"
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"
      - name: "Upload digest"
        uses: "actions/upload-artifact@v4"
        with:
          name: "digests-${{ matrix.runner }}"
          path: "${{ runner.temp }}/digests/*"
  Merge:
    name: "Merge"
    runs-on: "ubuntu-latest"
    needs:
      - "Build"
    steps:
      - name: "Download digests"
        uses: "actions/download-artifact@v4"
        with:
          path: "${{ runner.temp }}/digests"
          pattern: "digests-*"
          merge-multiple: true
      - name: "Setup Docker"
        uses: "docker/setup-buildx-action@v3"
      - name: "Login to container registry"
        uses: "docker/login-action@v3"
        with:
          registry: "ghcr.io"
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: "Create manifest list and push"
        working-directory: "${{ runner.temp }}/digests"
        run: |
          docker buildx imagetools create --tag ghcr.io/${{ env.tag }}:${{ github.sha }} \
            $(printf 'ghcr.io/${{ env.tag }}@sha256:%s ' *)
